.main-left {
    content: "";
    display: inline-block;
    width: 20%;
    height: 100%;
    text-align: center;
}

.main-left-name {
    width: 80%;
    height: 10%;
    border: 1px solid black;
    margin: 0 auto;
    align-content: center;
}

.main-left-menu {
    width: 80%;
    height: 40%;
    border: 1px solid black;
    margin: 0 auto;
}

.main-left-menu-item {
    width: 100%;
    height: 20%;
    border: 1px solid black;
    align-content: center;
}

.main-right {
    content: "";
    display: inline-block;
    width: 80%;
    height: 100%;
}

.main-right-head {
    width:95%;
    align-content: center;
    height: 10%;
    border-bottom: 1px solid black;
}

.form {
    height: 85%;
    width: 95%;
    border: 1px solid black;
    border-radius: 10px;
    margin-top:15px;
}

.form-head {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20%;
    margin-top: 10px;
}

.form-head-top {
    content: "";
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form-category {
    width: 45%;
    height: 90%;
    display: inline-block;
}

.form-category select {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.form-place {
    width: 45%;
    height: 90%;
    display: inline-block;
}

.form-place select {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.form-title {
    display: block;
    width: 100%;
    height: 50%;
    align-content: center;
}

.form-title input {
    width: 93%;
    height: 90%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.form-body {
    width: 93%;
    height: 65%;
    margin: 0 auto;
    margin-top: 10px;

}

.form-body textarea {
    width: 100%;
    height: 100%;
}

.form-footer {
    content: "";
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.form-footer button {
    width: 40px;
    height: 30px;
    margin-right: 30px;
}