* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 50%;
    height: 600px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 10px;
    align-content: center;
    justify-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 40%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid gray;
}

#inputId {
    border-radius: 10px;
    width: 90%;
    height: 20%;
    background-color: lightgray;
}

#inputPw {
    border-radius: 10px;
    width: 90%;
    height: 20%;
    background-color: lightgray;

}

#loginBtn {
    width: 90%;
    height: 20%;
    border-radius: 10px;
    background-color: lightgreen;
    margin-top:5%;
}